In [1]:
l1=[1,2,3,4]
l2=[5,6,7,8]
print l1+l2

[1, 2, 3, 4, 5, 6, 7, 8]

In [2]:
print l1+"5678"

TypeError: can only concatenate list (not "str") to list

In [3]:
languages=['java','php']
n_l = raw_input("Enter Language:")
print n_l
# o
print languages

Enter Language:python
python
['java', 'php']

In [4]:
languages=['java','php']
n_l = raw_input("Enter Language:")
print n_l
print languages+n_l

Enter Language:python
python

TypeError: can only concatenate list (not "str") to list

In [5]:
languages=['java','php']
n_l = raw_input("Enter Language:")
print list(n_l)
print languages+list(n_l)

Enter Language:python
['p', 'y', 't', 'h', 'o', 'n']
['java', 'php', 'p', 'y', 't', 'h', 'o', 'n']

In [7]:
n_l

'python'

In [8]:
n_l.split()

['python']

In [9]:
print [n_l]

['python']

In [10]:
a=10
b=20
c=30

In [11]:
print [a,b,c]

[10, 20, 30]

In [12]:
languages=['java','php']
n_l = raw_input("Enter Language:")
print languages+[n_l]

Enter Language:python
['java', 'php', 'python']

In [13]:
l=list("abcdefg")

In [14]:
l

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [15]:
l[2]

'c'

In [16]:
languages

['java', 'php']

In [17]:
languages[0]

'java'

In [18]:
languages[1]

'php'

In [19]:
s="Ashok, Anil, Ajay, Venkatesh, Karthik"

In [20]:
for i in s:
    print i
    break

A

In [21]:
names=s.split(',')

In [22]:
names

['Ashok', ' Anil', ' Ajay', ' Venkatesh', ' Karthik']

In [23]:
for name in names:
    print name

Ashok
 Anil
 Ajay
 Venkatesh
 Karthik

In [24]:
names

['Ashok', ' Anil', ' Ajay', ' Venkatesh', ' Karthik']

In [25]:
names[2]

' Ajay'

In [26]:
names[-1]

' Karthik'

In [27]:
names[1:4]

[' Anil', ' Ajay', ' Venkatesh']

In [28]:
names[2:5:-1]

[]

In [29]:
names[5:2:-1]

[' Karthik', ' Venkatesh']

In [30]:
names[::-1]

[' Karthik', ' Venkatesh', ' Ajay', ' Anil', 'Ashok']

In [31]:
s="python"
l=list("python")

In [32]:
s

'python'

In [33]:
l

['p', 'y', 't', 'h', 'o', 'n']

In [34]:
s[0]

'p'

In [35]:
s[0]="z"

TypeError: 'str' object does not support item assignment

In [36]:
l

['p', 'y', 't', 'h', 'o', 'n']

In [37]:
l[0]

'p'

In [38]:
l[0]='z'

In [39]:
l

['z', 'y', 't', 'h', 'o', 'n']

In [40]:
s

'python'

In [41]:
s.replace('p','z')

'zython'

In [42]:
print s

python

In [43]:
s1=s.replace('p','z')

In [44]:
s1

'zython'

In [45]:
s

'python'

In [46]:
l

['z', 'y', 't', 'h', 'o', 'n']

In [47]:
l=list("python")

In [48]:
l

['p', 'y', 't', 'h', 'o', 'n']

In [49]:
l1=l.append('j')

In [50]:
l

['p', 'y', 't', 'h', 'o', 'n', 'j']

In [51]:
print l1

None

In [52]:
l

['p', 'y', 't', 'h', 'o', 'n', 'j']

In [53]:
print l.append(10)

None

In [54]:
def fun(a,b):
    c=a+b
print fun(10,20)

None

In [55]:
l

['p', 'y', 't', 'h', 'o', 'n', 'j', 10]

In [56]:
def fun(a,b):
    c=a+b
    return c
print fun(10,20)

30

In [57]:
l

['p', 'y', 't', 'h', 'o', 'n', 'j', 10]

In [58]:
l=[1,2,3,4]

In [60]:
l=[1,2,3,4]
l1=l+[10]
print l
print l1

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

In [61]:
l=[1,2,3,4]
l1=l.append(10)
print l
print l1

[1, 2, 3, 4, 10]
None

In [62]:
l.pop()

10

In [63]:
l

[1, 2, 3, 4]

In [64]:
l=[1,2,3,4]

In [65]:
l[:]

[1, 2, 3, 4]

In [66]:
l1=l
l2=l[:]

In [67]:
print l1

[1, 2, 3, 4]

In [68]:
print l

[1, 2, 3, 4]

In [69]:
print l2

[1, 2, 3, 4]

In [71]:
print id(l),id(l1)

140560391480528 140560391480528

In [72]:
print id(l2)

140560391425992

In [73]:
l=['p1','p2','p3']
new_product="np"
l2=l.append(new_product)
for i in l2:
    print i

TypeError: 'NoneType' object is not iterable

In [74]:
for i in None:
    print i

TypeError: 'NoneType' object is not iterable

In [75]:
l=[10,20,1,3,-2]
l2=l.sort()

In [76]:
l2[-2]

TypeError: 'NoneType' object has no attribute '__getitem__'

In [77]:
l

[-2, 1, 3, 10, 20]

In [78]:
l=[10,20,1,3,-2]
l2=l
print l
print l2
l.sort()
print l
print l2

[10, 20, 1, 3, -2]
[10, 20, 1, 3, -2]
[-2, 1, 3, 10, 20]
[-2, 1, 3, 10, 20]

In [80]:
l.sort?

In [81]:
l=[10,20,1,3,-2]
l2=l
print l
print l2
l.sort(reverse=True)
print l
print l2

[10, 20, 1, 3, -2]
[10, 20, 1, 3, -2]
[20, 10, 3, 1, -2]
[20, 10, 3, 1, -2]

In [82]:
l=['Ashok','anil','Bhanu','chandhu']
l.sort()
print l

['Ashok', 'Bhanu', 'anil', 'chandhu']

In [83]:
l1=['10','20','30']
print int(l)

TypeError: int() argument must be a string or a number, not 'list'

In [84]:
int("20")

20

In [85]:
int(23.45)

23

In [86]:
l=['Ashok','anil','Bhanu','chandhu']
d_l = []
for i in l:
    print i
l.sort()
print l

Ashok
anil
Bhanu
chandhu
['Ashok', 'Bhanu', 'anil', 'chandhu']

In [87]:
l=['Ashok','anil','Bhanu','chandhu']
d_l = []
for i in l:
    print i.lower()
l.sort()
print l

ashok
anil
bhanu
chandhu
['Ashok', 'Bhanu', 'anil', 'chandhu']

In [88]:
l=['Ashok','anil','Bhanu','chandhu']
d_l = []
for i in l:
    d_l.append(i.lower())
d_l.sort()
print d_l

['anil', 'ashok', 'bhanu', 'chandhu']

In [89]:
l

['Ashok', 'anil', 'Bhanu', 'chandhu']

In [90]:
l=['Ashok','anil','Bhanu','chandhu']
d_l = []
print id(d_l)
for i in l:
    d_l.append(i.lower())
    print id(d_l)
d_l.sort()
print d_l

140560481844688
140560481844688
140560481844688
140560481844688
140560481844688
['anil', 'ashok', 'bhanu', 'chandhu']

In [91]:
l=['Ashok','anil','Bhanu','chandhu']
d_l = [i.lower() for i in l]
d_l.sort()
print d_l

['anil', 'ashok', 'bhanu', 'chandhu']

In [92]:
l=['Ashok','anil','Bhanu','chandhu',10]
d_l = [i.lower() for i in l]
d_l.sort()
print d_l

AttributeError: 'int' object has no attribute 'lower'

In [93]:
l=['Ashok','anil','Bhanu','chandhu',10]
d_l = []
for i in l:
    d_l.append(i.lower())
d_l.sort()
print d_l

AttributeError: 'int' object has no attribute 'lower'

In [94]:
l=['Ashok','anil','Bhanu','chandhu',10]
d_l = []
for i in l:
    if isinstance(i,str):
        d_l.append(i.lower())
    else:
        d_l.append(i)
d_l.sort()
print d_l

[10, 'anil', 'ashok', 'bhanu', 'chandhu']

In [95]:
l=['Ashok','anil','Bhanu','chandhu',10]
d_l = []
for i in l:
    for j in i:
        print j
    if isinstance(i,str):
        d_l.append(i.lower())
    else:
        d_l.append(i)
d_l.sort()
print d_l

A
s
h
o
k
a
n
i
l
B
h
a
n
u
c
h
a
n
d
h
u

TypeError: 'int' object is not iterable

In [97]:
l=['Ashok','anil',100,'Bhanu','chandhu',10]
d_l = []
for i in l:
    if isinstance(i,str):
        d_l.append(i.lower())
    else:
        d_l.append(i)
d_l.sort()
print d_l

[10, 100, 'anil', 'ashok', 'bhanu', 'chandhu']

In [98]:
l

['Ashok', 'anil', 100, 'Bhanu', 'chandhu', 10]

In [99]:
l1=[10,20,30,[40,50,[60,70,]],80]

In [100]:
l1[3]

[40, 50, [60, 70]]

In [101]:
l1[3][0]

40

In [102]:
l1[3][2][0]

60

In [103]:
l1

[10, 20, 30, [40, 50, [60, 70]], 80]

In [104]:
l

['Ashok', 'anil', 100, 'Bhanu', 'chandhu', 10]

In [105]:
l.append("python")

In [106]:
l

['Ashok', 'anil', 100, 'Bhanu', 'chandhu', 10, 'python']

In [107]:
l.extend("python")

In [108]:
l

['Ashok',
 'anil',
 100,
 'Bhanu',
 'chandhu',
 10,
 'python',
 'p',
 'y',
 't',
 'h',
 'o',
 'n']

In [109]:
l=[1,2,3,4]

In [110]:
l.append([10,20])

In [111]:
l

[1, 2, 3, 4, [10, 20]]

In [112]:
l.extend([100,200])

In [113]:
l

[1, 2, 3, 4, [10, 20], 100, 200]

In [115]:
l.extend("python")

In [117]:
l

[1, 2, 3, 4, [10, 20], 100, 200, 'p', 'y', 't', 'h', 'o', 'n']

In [118]:
l.extend(['abc','def'])

In [119]:
l

[1, 2, 3, 4, [10, 20], 100, 200, 'p', 'y', 't', 'h', 'o', 'n', 'abc', 'def']

In [120]:
l=[1,2,3,4]
l.append(10)

In [121]:
l

[1, 2, 3, 4, 10]

In [122]:
l.extend(10)

TypeError: 'int' object is not iterable

In [123]:
l

[1, 2, 3, 4, 10]

In [124]:
l.insert(1,"200")

In [125]:
l

[1, '200', 2, 3, 4, 10]

In [126]:
l.append(10)

In [127]:
l

[1, '200', 2, 3, 4, 10, 10]

In [128]:
l

[1, '200', 2, 3, 4, 10, 10]

In [129]:
l[7]

IndexError: list index out of range

In [130]:
l[6]=2000

In [131]:
l

[1, '200', 2, 3, 4, 10, 2000]

In [132]:
l[7]=3000

IndexError: list assignment index out of range

In [133]:
l.insert(1,"20000")

In [134]:
l

[1, '20000', '200', 2, 3, 4, 10, 2000]

In [135]:
len(l)

8

In [136]:
l.insert(20,"4000")

In [137]:
l

[1, '20000', '200', 2, 3, 4, 10, 2000, '4000']

In [138]:
l.index('4000')

8

In [139]:
l.index(4)

5

In [140]:
l.index(9)

ValueError: 9 is not in list